
<html>


<p id="notice"><%= notice %></p>

<h1 style="margin-bottom: 1em">Gossips</h1>

<table style="width: 500px; margin-left: 100px">
  <thead>
    <tr>
      <th style="padding-left: 1em">Comments</th>
      <th style="padding-left: 1em">Author</th>
      <th style="padding-left: 1em">Content</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @gossips.each do |gossip| %>
      <tr>
        <td style="padding-left: 1em"><%= gossip.comments.count %></td>
        <td style="padding-left: 1em"><%= gossip.anonymous_gossiper %></td>
        <td style="padding: 1em"><%= gossip.content %></td>
        <td><%= link_to 'Show', gossip, class: "btn btn-outline-info btn-sm" %></td>
        <td><%= link_to 'Edit', edit_gossip_path(gossip), class: "btn btn-outline-warning btn-sm" %></td>
        <td><%= button_to 'Destroy', gossip, method: :delete, data: {confirm: '!!!!! Supprimez les commentaires du gossip avant de supprimer le gossip'}, class: "btn btn-outline-danger btn-sm"  %></td>
      </tr>
    <% end %>
  </tbody>
</table>



<br>

<%= link_to 'New Gossip', new_gossip_path, class: "btn btn-primary", style: "margin: 1em" %>

</html>
