<p id="notice"><%= notice %></p>


<tbody>
<p>
  <strong>Anonymous gossiper:</strong>
  <%= @gossip.anonymous_gossiper %>
</p>

<p>
  <strong>Content:</strong>
  <%= @gossip.content %>
</p>

<%= link_to 'Edit', edit_gossip_path(@gossip) %> |
<%= link_to 'Back', gossips_path %>



<h1>New Comment</h1>

<%= form_with(model: [@gossip, @gossip.comments.build ], local: true) do |form| %>
  

  <div class="field">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div>

  <div class="field">
    <%= form.label :anonymous_commentor %>
    <%= form.text_field :anonymous_commentor %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>


</form>

    <% @gossip.comments.each do |comment| %>
      <tr>
        <td><%= comment.content %></td>
        <td><%= comment.anonymous_commentor %></td>
        
      </tr>
    <% end %>
  </tbody>




